# =================================================
# Application
# ==================================================
NODE_ENV=production
PORT=3000
TZ=Asia/Jakarta
APP_NAME="Websocket API"

# ==================================================
# Prisma / Postgres
# ==================================================
DATABASE_URL="postgresql://postgres:@localhost:5432/websocket?schema=public"

# ==================================================
# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_PREFIX=ws_server
# ==================================================

# ==================================================
# JWT Configuration
# ==================================================
JWT_SECRET="xxx"
JWT_EXPIRES=3600
JWT_REFRESH_SECRET="yyy"
JWT_REFRESH_EXPIRES=31536000

# ==================================================
# Author Information
# ==================================================
AUTHOR_NAME="Sejator Dev"
AUTHOR_EMAIL="sejatordev@gmail.com"